.meta {
  font-family: var(--font-serif);
  font-size: var(--text-lg);
  font-style: italic;
  margin: 0 auto 1em;
  padding-bottom: var(--size-gutter);
  padding-left: var(--size-gutter);
  position: relative;
  top: -1em;
}

.article {
  font-size: var(--text-xl);
  font-weight: var(--medium);
  letter-spacing: -0.4px;
  margin: 0 var(--space-2xl)
}

.body {
  font-family: var(--font-sans);
}

.article a:hover {
  border-bottom-color: transparent;
  color: var(--primary);
}

.article h1,
.article h2 {
  font-size: var(--text-2xl);
  margin-top: var(--space-3xl);
}

.article h3,
.article h4,
.article h5,
.article h6 {
  font-size: var(--text-prose);
  font-weight: var(--semibold);
  margin-bottom: 0.5em;
  margin-top: 3em;
}

.article li {
  margin-bottom: 0.5em;
}

.articleNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 28px 0 16px;
  padding: 0;
}

.articleNavigation li {
  font-size: var(--text-2xl);
  font-weight: var(--medium);
}

@media (max-width: 809px) {
  .article {
    font-size: var(--text-sm);
  }
  .article p{
    margin: 0;
  }
}
