.hero {

}

.image {
  height: 61.8vh;
  max-height: 560px;
  width: 100%;
}

.details {
  background: var(--background);
  padding: var(--space-lg) var(--size-gutter) 0;
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--medium);
  letter-spacing: -0.4px;
  margin: 0 0 var(--space-lg);
}

.content {
  font-size: var(--text-xl);
  font-weight: var(--medium);
  letter-spacing: -0.4px;
  margin: 0;
}

@media (max-width: 809px) {
  .content {
    font-size: var(--text-sm);
  }
}
