.content {
	position: absolute;
	top:108px;
	left:0;
	right:0;
	bottom:20px;
	display: flex;
	flex: 1;
	box-sizing: border-box;
	flex-direction: row;
	overflow-y: scroll;
}

.content .wrap {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 0 20px;
}

.content .wrap:first-child {
	border-right: 2px solid var(--black)
}

.content .wrap p, h1, h2, h3, h4 {
	margin:0;
	padding:0;
}

.content .wrap .box {
	margin-top: 48px;
}

.content .wrap .box:first-child {
	margin-top: 0;
}


@media (max-width: 809px) {
  .content {
		position: initial;
    flex-direction: column;
  }

	.content .wrap {
		padding: 0;
	}

	.content .wrap:first-child {
		border-right: none;
		border-bottom: 2px solid var(--black);
		padding-bottom: 40px;
		margin-bottom: 40px;
	}
}
